		.chart {
			margin-left: 2px;
			margin-bottom: 10px;
		}
		.label {
			font-size: 10px;
			font-family: "Times New Roman";
		}
		.chart-title {
			margin-left:0px;
			margin-bottom:5px;
			margin-top:10px;
			font-size:14px;
			font-weight: bold;
		}
		.chart rect {
			stroke-width:0;
			stroke: white;
		}


		.bar.Vsync_IntendedVsync { fill: #78787e; }
		.bar.HandleInputStart_Vsync { fill: #38a572; }
		.bar.AnimationStart_HandleInputStart { fill: #a72b72; }
		.bar.PerformTraversalsStart_AnimationStart { fill: #67B916; }
        .bar.DrawStart_PerformTraversalsStart { fill: #fe649a; }
		.bar.SyncQueued_DrawStart { fill: #317ba5; }
		.bar.SyncStart_SyncQueued { fill: #a72e31; }
		.bar.IssueDrawCommandsStart_SyncStart { fill: #3862b9; }
        .bar.FrameCompleted_IssueDrawCommandsStart { fill: #86feaf; }


		.bar.Vsync_IntendedVsync.unknown { fill: #357e4e; }
		.bar.HandleInputStart_Vsync.unknown  { fill: #6b5bf1; }
		.bar.AnimationStart_HandleInputStart.unknown { fill: #f6b17f; }
		.bar.PerformTraversalsStart_AnimationStart.unknown { fill: #4168f6; }
		.bar.DrawStart_PerformTraversalsStart.unknown { fill: #7e2f74; }
		.bar.SyncQueued_DrawStart.unknown  { fill: #5947f1; }
		.bar.SyncStart_SyncQueued.unknown { fill: #a500f6; }
		.bar.IssueDrawCommandsStart_SyncStart.unknown { fill: #aff6b0; }
		.bar.FrameCompleted_IssueDrawCommandsStart.unknown { fill: #f62430; }


		.bar:hover { fill: #fe0618; }
		.bar.creator.unknown:hover { fill: #8E8E8E; }
		.bar.recipient.unknown:hover { fill: #B5B5B5; }
		.bar.mentioned.unknown:hover { fill: #E6E6E6; }

		.buttons {
			display: inline-block;
			margin-left: 20px;
			margin-bottom: 10px;
		}
		button {
			margin: 2px 0;
			padding: 5px;
			background-color:#2c5171;
			border:none;
			color:#fff !important;

			-webkit-box-shadow: 2px 2px 1px #ccc;
			-moz-box-shadow: 2px 2px 1px #ccc;
			-o-box-shadow: 2px 2px 1px #ccc;
			box-shadow: 2px 2px 1px #ccc;

			font: normal 100% "coustard", serif;

			border-right: white 1px solid;
		}

		.buttons button:first-child {
			-webkit-border-radius: 7px 0 0 7px
			-moz-border-radius: 7px 0 0 7px;
			-o-border-radius: 7px 0 0 7px;
			border-radius: 7px 0 0 7px;
		}

		.buttons button:last-child {
			-webkit-border-radius: 0 7px 7px 0;
			-moz-border-radius: 0 7px 7px 0;
			-o-border-radius: 0 7px 7px 0;
			border-radius: 0 7px 7px 0;
			border-right: none;
		}

		button.highlight {
			background-color: #820C00;

			-webkit-box-shadow: inset 2px 2px 1px #777;
			-moz-box-shadow: inset 2px 2px 1px #777;
			-o-box-shadow: inset 2px 2px 1px #777;
			box-shadow: inset 2px 2px 1px #777;
			padding: 6px 4px 4px 6px;
		}
		button:hover {
			background-color:#4c7191;
		}
		button.highlight:hover {
			background-color:#820C00;
		}

		button#hide_unknown {
			display: inline-block;
			margin-left: 20px;
		}
		button#show_unknown {
			display: inline-block;
			margin-right: 20px;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}
		.guideline {
			stroke: #444;
			stroke-width: 0.1;
		}
		.warningline { 
			stroke: #ff0000;
			stroke-width: 1;
		}